<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            {% for item in menu %}
                <a href="/{{ item }}/">{{ item|title }}</a>
            {% endfor %}
        </nav>

        <div>
            {% if user.is_authenticated %}
                <span>Привет, {{ user.username }}</span>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </header>

</body>
</html>