# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.pyc


# IDEs / Editors
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / config
.env
.env.local
.env.*.local